{% extends "base.html" %}
{% block services %}  {# ou une autre block si tu veux #}

<div class="max-w-7xl mx-auto py-12 px-4">

    <div class="mb-12">
        <h1 class="relative inline-block text-3xl md:text-4xl font-extrabold text-blue-900">
        Nos services
        <span class="absolute -bottom-2 left-0 w-16 h-[4px] bg-yellow-400 rounded-full"></span>
        </h1>
    </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <p class="text-gray-700 text-lg max-w-2xl leading-relaxed">
      Bienvenue dans la section Services & Facturation de Modern Technology of Building

      Dans cet espace, nous vous présentons l’ensemble de nos services, nos modalités de tarification ainsi que des exemples de projets réalisés, adaptés à votre zone géographique.

      Afin de vous offrir des informations précises et pertinentes, nous vous invitons à sélectionner votre zone :

      Choisissez votre zone pour accéder aux détails spécifiques qui vous concernent.
    </p>
  </div>
</div>

{% endblock %}
